body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Hero and navbar*/

.hero {
    background-color: antiquewhite;
    font-size: 35px;
    height: auto;
}

ul {
    display: flex;
    list-style-type: none;
    width: 450px;
    justify-content: space-between;
}

li {
    text-decoration: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*keeping things even*/
.inner-content {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*INTRO*/

.introduction-text {
    width: 500px;
}

.me-picture {
    width: 350px;
    height: 350px;
}

/*PROJECTS*/

.screenshot {
    height: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.projects {
    background-color: azure;
    height: auto;
}

.projects h2 {
    width: 100%;
}

.project-text {
    width: 500px;
}

/*FOOTER*/

footer {
    height: 200px;
    font-size: 30px;
    background-color: lightgrey;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

footer p {
    margin: 50px;
}